@import "../styles/Mixin.scss";
/*------------------------------------------------------------------------------
  reset
------------------------------------------------------------------------------*/

html,
input,
textarea,
select,
button,
body {
  font-family: "Poppins", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo,
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  @include sp() {
    font-size: 14px;
  }
}

html {
  color: var(--monotone01);
  line-height: 1.8;
  word-break: normal;
  word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  margin: 0;
  position: relative;
  background-color: var(--monotone02);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: var(--monotone01);
  text-decoration: none;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  position: relative;
  @include sp {
    overflow: hidden;
  }
}

#wrapper {
  position: relative;
  z-index: 2;
  @include sp() {
    min-width: 320px;
  }
}

@include pc() {
  .sp {
    display: none !important;
  }
  a[href^="tel:"] {
    pointer-events: none;
  }
}

@include sp() {
  .pc {
    display: none !important;
  }
}

/*------------------------------------------------------------------------------
  common
------------------------------------------------------------------------------*/

.sectionArea {
  padding: 120px 0;
  position: relative;
  @include sp {
    padding: 80px 0;
  }
}

.innerArea {
  width: calc(100% - 100px);
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  @include sp {
    max-width: 767px;
    width: calc(100% - 30px);
  }
}

* {
  @include pc {
    cursor: none;
  }
}

// color
:root {
  --monotone01: #222;
  --monotone01-rgba: 34, 34, 34;
  --monotone02: #eee;
  --monotone02-rgba: 238, 238, 238;
  --pink: #ff9191;
  --pink-rgba: 255, 145, 145;
}

@media (prefers-color-scheme: dark) {
  :root {
    --monotone01: #eee;
    --monotone01-rgba: 238, 238, 238;
    --monotone02: #222;
    --monotone02-rgba: 34, 34, 34;
    --pink: #ff9191;
  }
}
