@use "../../../styles/Mixin.scss" as *;

/* --------------------------------
  Heading02
----------------------------------- */

.heading02 {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 16px;
  @include sp {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

* + .heading02 {
  margin-top: 2em;
}
